# Copyright 2023 Digital Bazaar, Inc.
#
# SPDX-License-Identifier: BSD-3-Clause

*.sw[nop]
*.py[co]
*~
*.log
.DS_Store
.project
.settings
results/
mochawesome-report/
TAGS
config.json
node_modules/
package-lock.json
package-lock.json.license
*.vswp
config.json
reports/**
!.gitkeep
credentials/*.json
.vscode
localConfig.cjs
tests/input/**
